name: ci
on:
  pull_request:
    branches: ["**"]
permissions:
  contents: read
jobs:
  BuildFrontTest:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Git clone the repository
        uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
      - name: package install
        run: cd front && npm ci
      - name: build
        run: cd front && npm run build
